In [1]:
import pandas as pd

In [2]:
vendas = pd.read_excel(r"C:\Users\leand\OneDrive\Área de Trabalho\CursoCódigos\50.Bonus 1 Power BI\dados\vendas.xlsx")
vendas.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,VendasID,NaN,Vendedor,Cliente,Data,Produto,ValorUni,Quantidade
1,1,NaN,Armando Lago,Cosme Zambujal,1/1/2019,Capacete Gometws Endorphine 2.0,155,2
2,2,NaN,Iberê Lacerda,Gertrudes Hidalgo,1/1/2020,Bicicleta Gometws Endorphine 7.3,2966,2
3,3,NaN,Jéssica Castelão,Antão Corte-Real,2/1/2020,Bicicleta Altools Stroll Aro 26,9201,2
4,4,NaN,Hélio Liberato,Alexandra Tabares,2/1/2019,Bicicleta Gometws Endorphine 7.3,2966,2

In [6]:
vendas.rename(columns ={"Unnamed: 0": 'VendasId'}, inplace= True)
vendas.head()

,VendasId,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,VendasID,NaN,Vendedor,Cliente,Data,Produto,ValorUni,Quantidade
1,1,NaN,Armando Lago,Cosme Zambujal,1/1/2019,Capacete Gometws Endorphine 2.0,155,2
2,2,NaN,Iberê Lacerda,Gertrudes Hidalgo,1/1/2020,Bicicleta Gometws Endorphine 7.3,2966,2
3,3,NaN,Jéssica Castelão,Antão Corte-Real,2/1/2020,Bicicleta Altools Stroll Aro 26,9201,2
4,4,NaN,Hélio Liberato,Alexandra Tabares,2/1/2019,Bicicleta Gometws Endorphine 7.3,2966,2

In [7]:
vendas.rename(columns = {"Unnamed: 2": 'Vendedor', 'Unnamed: 3': 'Cliente', 'Unnamed: 4': 'Data', 'Unnamed: 5': 'Produto','Unnamed: 6': 'ValorUni', 'Unnamed: 7': 'Quantidade' }, inplace = True) 
vendas.head()

,VendasId,Unnamed: 1,Vendedor,Cliente,Data,Produto,ValorUni,Quantidade
0,VendasID,NaN,Vendedor,Cliente,Data,Produto,ValorUni,Quantidade
1,1,NaN,Armando Lago,Cosme Zambujal,1/1/2019,Capacete Gometws Endorphine 2.0,155,2
2,2,NaN,Iberê Lacerda,Gertrudes Hidalgo,1/1/2020,Bicicleta Gometws Endorphine 7.3,2966,2
3,3,NaN,Jéssica Castelão,Antão Corte-Real,2/1/2020,Bicicleta Altools Stroll Aro 26,9201,2
4,4,NaN,Hélio Liberato,Alexandra Tabares,2/1/2019,Bicicleta Gometws Endorphine 7.3,2966,2

In [14]:
vendas.drop('Unnamed: 1', axis = 1, inplace = True )

KeyError: "['Unnamed: 1'] not found in axis"

In [11]:
vendas.head()

,VendasId,Vendedor,Cliente,Data,Produto,ValorUni,Quantidade
0,VendasID,Vendedor,Cliente,Data,Produto,ValorUni,Quantidade
1,1,Armando Lago,Cosme Zambujal,1/1/2019,Capacete Gometws Endorphine 2.0,155,2
2,2,Iberê Lacerda,Gertrudes Hidalgo,1/1/2020,Bicicleta Gometws Endorphine 7.3,2966,2
3,3,Jéssica Castelão,Antão Corte-Real,2/1/2020,Bicicleta Altools Stroll Aro 26,9201,2
4,4,Hélio Liberato,Alexandra Tabares,2/1/2019,Bicicleta Gometws Endorphine 7.3,2966,2

In [15]:
vendas.drop(0, axis= 0,inplace = True)

In [16]:
vendas.head()

,VendasId,Vendedor,Cliente,Data,Produto,ValorUni,Quantidade
1,1,Armando Lago,Cosme Zambujal,1/1/2019,Capacete Gometws Endorphine 2.0,155,2
2,2,Iberê Lacerda,Gertrudes Hidalgo,1/1/2020,Bicicleta Gometws Endorphine 7.3,2966,2
3,3,Jéssica Castelão,Antão Corte-Real,2/1/2020,Bicicleta Altools Stroll Aro 26,9201,2
4,4,Hélio Liberato,Alexandra Tabares,2/1/2019,Bicicleta Gometws Endorphine 7.3,2966,2
5,5,Napoleão Méndez,Diogo Simón,3/1/2018,Capacete Gometws Endorphine 2.0,155,1

In [17]:
vendas.to_excel('vendas.xlsx')